[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cvzone = "==1.6.1"
imutils = "==0.5.4"
numpy = "==1.26.4"
mediapipe = "==0.10.9"
opencv-python-headless= "==4.9.0.80"
tensorflow = "==2.10.0"
remotezip = "==0.12.3"
tqdm = "==4.66.2"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
